body {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 1.7em;
}

nav {
    text-align: right;
}

nav>ul>li {
    display: inline-block;
}

ul>li>a {
    text-decoration: none;
}